/* 自定义工具栏 */

.toolsets {
    background-color: #009966;
    padding-left: 300px;
}

.toolsets a {
    border: solid 1px #ccc;
    color: #fff;
}

.toolsets a:hover {
    cursor: pointer;
    color: #ccc;
}


/* 打印设置 */

.print-form {
    /*display: none;*/
    /*position: absolute;*/
    margin-left: 700px;
}


/*  */

.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:-ms-fullscreen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}

.ol-rotate {
    top: 3em;
}

#map {
    /*height: 550px;*/
}


/*标记*/

#marker {
    width: 20px;
    height: 20px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
    opacity: 0.5;
}

#Shanghai {
    text-decoration: none;
    color: white;
    font-size: 11pt;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}


/*popup*/

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}
